<div local-class="content">
    <div local-class="title">Create a new Subscription</div>
    <div local-class="input">
        <div local-class="input-label">Subscription Name</div>
        <Input @value={{this.subscriptionName}} placeholder="Subscription Name" type="text" />
        <button type="button" {{on "click" this.createSubscription}}>Create</button>
    </div>
</div>