<div local-class="content">
    {{#each @model as |subscription|}}
        <div local-class="link-to"> 
            <LinkTo @route="subscription" @model={{subscription.id}}>{{subscription.name}}</LinkTo>
        </div>
    {{/each}}
</div>