.content{
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: orange;
    max-width: 600px;
}

.title{
    font-weight: 600;
    background-color: green;
}

.input {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
.input-label{
    padding-right: 10px;
}