<Navbar>
    <li class="navbar-item">
        <LinkTo @route="index">Home</LinkTo>
    </li>
    <li class="navbar-item">
        <LinkTo @route="subscriptions">Subscription</LinkTo>
    </li>
</Navbar>