<Subscriptions::NewSubscription>

</Subscriptions::NewSubscription>

{{!-- <form {{action 'createSubscription' on='submit'}}>
  {{input value=subscriptionEmail placeholder='Enter your email'}}
  <button type='submit'>Subscribe</button>

  //a nice form with all the existing subscriptions
        {{#each @model as |subscription|}}
        <li>{{subscription.email}}</li>
        {{/each}} --}}